<div *ngIf="isLoading">
  <app-spinner-top></app-spinner-top>
</div>
<div class="row">

  <modal #quotationModal>
    <modal-content>
      <iframe [src]="QuotationDocURL" style="zoom:0.60" frameborder="0" height="800" width="99.6%"></iframe>
    </modal-content>
  </modal>
</div>
<div *ngIf="!isLoading">
  <form class="form-horizontal" role="form">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="QuotationNo" class="col-lg-4 control-label">Quotation Number</label>
            <div class="col-lg-4">
              <span class="form-control  input-sm">{{QuotationNo}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-8">
              <label for="inputEmail" class="control-label">Life 1</label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="col-lg-8">
              <label for="inputEmail" class="control-label">Life 2</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="{{LifeAss1NicClass}}">
            <label for="LifeAss1Nic" class="col-lg-4 control-label">NIC</label>
            <div class="col-lg-8">
              <input type="text" class="form-control  input-sm" placeholder="NIC" required [(ngModel)]="LifeAss1Nic" name="LifeAss1Nic"
                id="LifeAss1Nic">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="col-lg-8">
              <input type="text" class="form-control input-sm" placeholder="NIC" [(ngModel)]="LifeAss2Nic" name="LifeAss2Nic" id="LifeAss2Nic">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="{{LifeAss1NameClass}}">
            <label for="LifeAss1Name" class="col-lg-4 control-label">Customer Name</label>
            <div class="col-lg-8">
              <input type="text" class="form-control input-sm" placeholder="Customer Name" [(ngModel)]="LifeAss1Name" name="LifeAss1Name"
                id="LifeAss1Name">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="col-lg-8">
              <input type="text" class="form-control input-sm" placeholder="Customer Name" [(ngModel)]="LifeAss2Name" name="LifeAss2Name"
                id="LifeAss2Name">
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="{{LifeAss1DobClass}}">
            <label for="" class="col-lg-4 control-label">Date of Birth</label>
            <div class="col-lg-8">
              <datetime name="LifeAss1Dob" id="LifeAss1Dob"  [datepicker]="datepickerOpts"  [(ngModel)]="LifeAss1Dob" [timepicker]="false"  (ngModelChange)="calculateLife1Age($event)" ></datetime>
      
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="col-lg-8">
              <datetime name="LifeAss2Dob" id="LifeAss2Dob"  [datepicker]="datepickerOpts"  [(ngModel)]="LifeAss2Dob" [timepicker]="false"  (ngModelChange)="calculateLife2Age($event)"></datetime>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="{{LifeAss1AgeClass}}">
            <label for="LifeAss1Age" class="col-lg-4 control-label">Age</label>
            <div class="col-lg-4">
              <input type="text" class="form-control input-sm" placeholder="Age" [(ngModel)]="LifeAss1Age" name="LifeAss1Age" id="LifeAss1Age"
                type="number" readonly>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="col-lg-4">
              <input type="text" class="form-control input-sm" placeholder="Age" [(ngModel)]="LifeAss2Age" name="LifeAss2Age" id="LifeAss2Age"
                type="number" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="{{LifeAss1GenderClass}}">
            <label for="LifeAss1Gender" class="col-lg-4 control-label">Gender</label>
            <div class="col-lg-4">
              <select type="text" class="form-control input-sm" [(ngModel)]="LifeAss1Gender" name="LifeAss1Gender" id="LifeAss1Gender"
                required>
<option value="0">Gender</option>
<option value="M">Male</option>
<option value="F">Female</option>
</select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="col-lg-4">
              <select type="text" class="form-control input-sm" [(ngModel)]="LifeAss2Gender" name="LifeAss2Gender" id="LifeAss2Gender">
<option value="0">Gender</option>
<option value="Male">Male</option>
<option value="Female">Female</option>
</select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="{{BranchCodeClass}}">
            <label for="BranchCode" class="col-lg-4 control-label">Branch</label>
            <div class="col-lg-4">
              <select type="text" class="form-control input-sm" [(ngModel)]="HnbaBranchCode" name="HnbaBranchCode" id="HnbaBranchCode">
<option value="0">Select</option>
<option *ngFor="let branch of hnbaBranchList" value={{branch.HnbaCode}}>{{branch.HnbaBranchName}}</option>
</select>
            </div>
          </div>
        </div>
        <div class="col-md-6">

        </div>
      </div>



      <div class="row">
        <div class="col-md-6">
          <div class="{{BankIdClass}}">
            <label for="selectedBankId" class="col-lg-4 control-label">Bank</label>
            <div class="col-lg-6">
          <select type="text" class="form-control input-sm" [(ngModel)]="BankId" name="BankId" id="BankId"
                (ngModelChange)="onSelectOfBankId($event)">
<option value="0">Select</option>
<option *ngFor="let bank of bankList" value={{bank.BankId}}>{{bank.BankName}}</option>
</select> </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="{{BankBranchIdClass}}">
            <label for="BranchId" class="col-lg-5 control-label">Bank Branch</label>
            <div class="col-lg-7">
             <select type="text" class="form-control input-sm" [(ngModel)]="BankBranchId" name="BankBranchId" id="BankBranchId">
<option value="0">Select</option>
<option *ngFor="let bankBranch of bankBranchList" value={{bankBranch.BankBranchId}}>{{bankBranch.BankBranchName}}</option>
</select>
            </div>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <div class="{{LoanTypeIdClass}}">
            <label for="LoanTypeId" class="col-lg-4 control-label">Loan Type</label>
            <div class="col-lg-6">
              <select type="text" class="form-control input-sm" [(ngModel)]="LoanTypeId" name="LoanTypeId" id="LoanTypeId" required>
<option value="0">Select</option>
<option *ngFor="let loanType of loanTypeList" value={{loanType.LoanTypeId}}>{{loanType.LoanTypeName}}</option>
</select> </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="{{LoanAmountClass}}">
            <label for="LoanAmount" class="col-lg-5 control-label">Loan Amount</label>
            <div class="col-lg-7">
              <input type="text" class="form-control  input-sm" placeholder="Loan Amount" [(ngModel)]="LoanAmount" name="LoanAmount" id="LoanAmount"
                type="number" min=0 required>
            </div>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>


      <div class="row">
        <div class="col-md-6">
          <div class="{{TermClass}}">
            <label for="Term" class="col-lg-4 control-label">Term of Loan(Monthly)</label>
            <div class="col-lg-6">
              <input type="text" class="form-control  input-sm" placeholder="Full Term of Loan" [(ngModel)]="FullTermOfLoanMonthly" name="FullTermOfLoanMonthly"
                id="FullTermOfLoanMonthly" type="number" min=0 required>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="{{FixedInterestClass}}">
            <label for="FixedInterest" class="col-lg-5 control-label">Fixed Interest</label>
            <div class="col-lg-7" required>
              <input type="text" class="form-control  input-sm" placeholder="Fixed Interest" [(ngModel)]="FixedInterest" name="FixedInterest"
                id="FixedInterest" type="number" min=0 max=100>
            </div>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>




      <div class="row">
        <div class="col-md-6">
          <div class="{{CompanyBufferClass}}">
            <label for="CompanyBufferId" class="col-lg-4 control-label">Company Buffer</label>
            <div class="col-lg-6">
              <select type="text" class="form-control input-sm" [(ngModel)]="CompanyBufferId" name="CompanyBufferId" id="CompanyBufferId">
<option value="0">Select</option>
<option *ngFor="let companyBuffer of companyBufferList" value={{companyBuffer.CompanyBufferId}}>{{companyBuffer.CompanyBufferName}}</option>
</select>


            </div>
          </div>
        </div>

        <div class="col-md-5">
          <div class="form-group">
            <label for="CurrentAwplr" class="col-lg-5 control-label">Current AWPLR</label>
            <div class="col-lg-7">
              <input type="text" class="form-control  input-sm" placeholder="Current AWPLR" [(ngModel)]="CurrentAwplr" name="CurrentAwplr"
                id="CurrentAwplr" type="number" min=0></div>
          </div>
        </div>
        <div class="col-md-2">
        </div>


      </div>



      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="AdditionalToAwplr" class="col-lg-4 control-label">Additionto AWPLR</label>
            <div class="col-lg-6">
              <input type="text" class="form-control  input-sm" placeholder="Additionto AWPLR" [(ngModel)]="AdditionalToAwplr" name="AdditionalToAwplr"
                id="AdditionalToAwplr" type="number" min=0>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label for="TermOfFixedInterest" class="col-lg-5 control-label">Term of Fixed Interest</label>
            <div class="col-lg-7">
              <input type="text" class="form-control  input-sm" placeholder="Term of Fixed Interest" [(ngModel)]="TermOfFixedInterest"
                name="TermOfFixedInterest" id="TermOfFixedInterest" type="number" min=0>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="Premium" class="col-lg-4 control-label">Premium Amount</label>
            <div class="col-lg-6">


              <span class="form-control  input-sm">{{Premium}}</span>


            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="PremiumWithPolicyFee" class="col-lg-4 control-label">With Policy Fee</label>
            <div class="col-lg-6">
              <span class="form-control  input-sm">{{PremiumWithPolicyFee}}</span>


            </div>

          </div>
        </div>

      </div>


      <div class="row" hidden>
        <div class="col-md-6">
          <div class="form-group">
            <label for="LifeAss1Nic" class="col-lg-4 control-label">Need printed quotation?</label>
            <div class="col-lg-4">
              <label class="tgl" style="font-size:20px">  
    <input type="checkbox" checked />
    <span data-on="Yes" data-off="No"></span>
  </label>

            </div>


          </div>
        </div>


      </div>


      <div class="row">
        <div class="col-md-3">


        </div>
        <div class="col-md-2">

          <button class="btn btn-primary btn-block  btn-sm" (click)="AddNewQuotation()" type="button">Add New</button>

        </div>
        <div class="col-md-2">
          <button class="btn btn-primary btn-block  btn-sm" (click)="Calculate()" type="button">Calculate</button>
        </div>
        <div class="col-md-2">

          <button class="btn btn-primary btn-block  btn-sm" (click)="SaveQuotation()" type="button">Save</button>

        </div>


        <div class="col-md-2">

          <button class="btn btn-primary btn-block  btn-sm" (click)="ViewQuotation()" type="button">View Quotation</button>

        </div>

        <div class="col-md-2" hidden>
          <button class="btn btn-primary" (click)="quotationModal.open()" id="openQuotationModalButton">Show Quotation</button>
        </div>
      </div>


    </div>

    <div class="row">
    </div>
  </form>
</div>